<div class="shotdown">
    <div class="shotdown__title">
        Сегодя
    </div>
    <div class="shotdown__today">
        <div class="shotdown__area-name">
            3.1
        </div>
        <div class="shotdown__area-schedule" #today>

        </div>
        
    </div>
    <div class="shotdown__title">
        Завтра
    </div>
    <div class="shotdown__today">
        <div class="shotdown__area-name">
            3.1
        </div>
       
        <div class="shotdown__area-schedule" #tomorrow>

        </div>
    </div>
</div>