@light-color: #feffb9;
@out-lihgt: red;
.gold-text-style() {
  color: wheat;
  text-shadow: 0 0 1px white, 0 0 3px #830000, 0 0 5px red;
}
.silver-text-style() {
  color: #f8e5c9;
  text-shadow: 0 0 1px white, 0 0 3px #000000, 0 0 5px #897eba, 0 0 10px #00081b;
}

.gradient-main() {
  background: linear-gradient(120deg, #ffb3d4 -70%, #94bbe9 100%);
}

.button-style() {
  border: 1px solid #ffaf54;
  background-color: rgba(116, 93, 131, 0.83);
  color: wheat;
  text-shadow: 0 0 2px white, 0 0 5px red;
}

@font-face {
  font-family: "digital";
  /* The format for .ttf files must be 'truetype' */
  src: url("../font/digital-7/digital-7.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Helps text appear faster while loading */
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 200% 50%;
  }
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: #e7e7e7;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

@property --sky-color-top {
  syntax: "<color>";
  initial-value: #000; /* любой начальный цвет */
  inherits: false;
}

@property --sky-color-bottom {
  syntax: "<color>";
  initial-value: #000;
  inherits: false;
}


html,
body,
#app {
  margin: 0;
  padding: 0;
  height: 100vh;
}

#app {
  position: relative;
  background: #8b26ff;
  // background: linear-gradient(
  //   180deg,
  //   var(--sky-color-top) 0%,
  //   var(--sky-color-bottom) 100%
  // );
  // background: radial-gradient(circle at 0 50%, #ffffff 0%, #4686fc 10%);

  background: radial-gradient(ellipse 300% 40% at 50% 50%,
  #ffffff 0%,
  #fffcfc 4%,
  #fff6d6 6%,
  #f7d3b0 10%,
  #24d3ff 19%,
  #2469ff 30%,
  #1b0c49 50%,
  #0d0525 70%,
  #04000f 100%);
  background-size: 200% 400%;


  // background: radial-gradient(
  //   circle at 50% 100%,
  //   #ffffff 0%,

  //   #15004a 50%
  // );
  // background:
  //   radial-gradient(circle at 50% 100%, rgba(255,255,224,0.8) 0%, rgba(255,165,0,0) 40%),
  //   linear-gradient(to top, #ff5e62, #ff9966, #7f7fd5);

  /* Дополнительная настройка, чтобы солнце казалось объемнее */
  background-blend-mode: screen;
  //transition: --sky-color-top 4s ease, --sky-color-bottom 1s ease;
  transition: background-position 5s ease;
  overflow-y: auto;
  z-index: 1;


}

/* #map { position: absolute; top: 0; bottom: 0; width: 100%; } */
* {
  box-sizing: border-box;
}

.shutdown {
  padding: 0 10px;
  height: 100vh;
  overflow-y: auto;

  &__weather {
    position: absolute;
    left: 0;
    top: 10px;
  }

  &__day {
    //height: 104px;
    // transition: height 4s ease;
    display: flex;
    align-items: center;
    border: 1px solid #ffaf54;
    border-radius: 10px;
    overflow: hidden;

    &.loading {
      background: linear-gradient(90deg, #c78c7b, #23a6d5, #c78c7b);
      background-size: 200% 400%;
      animation: gradient-animation 1s linear infinite;
      width: 100%;

      /* Размеры для примера */
      width: 100%;
      //height: 300px;
      border-radius: 10px;
    }
  }

  &__area-schedule {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-items: center;

    //grid-template-columns: repeat(24, 1fr); // Делим на 24 равные части
    column-gap: 1px;
    width: 100%;
    min-height: 50px;

    //padding: 1px;
    box-sizing: border-box;
    //background-color: ;

    &--waiting {
      display: flex;
      height: 100%;
      align-items: center;
      background: linear-gradient(120deg, #ffb3d4 -70%, #94bbe9 100%);
      padding: 10px;
    }
  }

  &__area-schedule-no-data {
    .gold-text-style();
    padding: 0 10px;
  }

  &__area-container {
    .silver-text-style();
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 22px 0 26px;
    column-gap: 20px;
    position: relative;
  }

  &__area-name {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    line-height: 25px;
  }

  &__current-time {
    font-family: "digital", sans-serif;
    //width: 100px;
    text-align: left;
    font-size: 28px;
    line-height: 30px;

    .time-line {
      display: flex;
      align-items: end;
    }

    .char {
      &:nth-child(2 of .char) {
        font-size: 18px;
        line-height: 22px;
      }
    }

    .digit {
      width: 14px;
      text-align: end;

      &:nth-child(5 of .digit),
      &:nth-child(6 of .digit) {
        font-size: 18px;
        width: 9px;
        line-height: 22px;
      }
    }
  }

  &__title {
    .gold-text-style();
    margin-top: 10px;
  }

  &__column {
    flex: 1;
    display: grid;
    grid-template-rows: 2fr 1fr; // Две равные части по вертикали
    height: 100px; // Фиксированная высота, чтобы ячейки раскрылись
    min-width: 0;
    row-gap: 1px;
    background-color: #ccc; // Цвет "сетки"               // Защита от схлопывания в Grid
  }

  &__key {
    display: flex;
    align-items: center;
    justify-content: center;
    writing-mode: vertical-rl;
    // transform: rotate(180deg);   // Поворот, чтобы читалось снизу вверх
    white-space: nowrap;
    font-size: 10px;
    line-height: 5px;
    padding: 2px 0;
    background: white;
  }

  &__value {
    width: 100%;
    height: 100%; // Занимает всю отведенную нижнюю ячейку (1fr)

    &--work {
      background-color: @light-color;
    }

    &--hide {
      background-color: @out-lihgt;
    }

    &--first {
      background: linear-gradient(to right, @out-lihgt 50%, @light-color 50%);
    }

    &--second {
      background: linear-gradient(to left, @out-lihgt 50%, @light-color 50%);
    }
  }

  &__empty-space {
    height: 100px;
  }

  &__refresh {
    width: 100%;
    margin-top: 20px;
    position: fixed;
    bottom: 20px;
    left: 0;
    padding: 0 10px;
    // padding: 0 20px;
    .button {
      text-align: center;
      border-radius: 10px;
      width: 100%;
      padding: 10px 10px;
      background-color: #745d83;
      color: white;
      text-shadow: 0 0 3px wheat;
      user-select: none;
      border: 1px solid #ffaf54;
      .gold-text-style();

      &:active {
        // background-color: red;
        box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.8);
        color: gray;
      }
    }
  }

  &__update-time {
    font-weight: bold;
    .gold-text-style();
    font-size: 12px;
  }

  &__slots {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    //margin-top: 10px;
  }

  &__area-selector {
    position: absolute;
    right: 0;
    top: 18px;
  }
}

.slot {
  border: 1px solid rgb(95, 85, 241);
  border-radius: 10px;
  padding: 10px;
  background-color: wheat;

  // background: #eeaeca;
  background: #eeaeca;
  //background: linear-gradient(270deg, #94bbe9 0%, #94bbe9 100%);
  background: linear-gradient(120deg, #ffb3d4 -70%, #94bbe9 100%);

  &.active {
    border: 1px solid rgb(235, 84, 255);
    background: linear-gradient(120deg, #feffb3 20%, #94bbe9 100%);
    //box-shadow: 0 0 10px wheat, 0 0 10px wheat;
    &.definite{
      background: linear-gradient(120deg, #ffb3b3 20%, #94bbe9 100%);
    }
  }

  &__time-container {
    display: flex;
    justify-content: space-between;
  }
}

.area-selector {
  position: relative;
  width: 120px;
  padding: 10px;
  border: 1px solid #ffaf54;
  border-radius: 10px;
  .button-style();

  &__list {
    position: absolute;
    top: 120%;
    left: 0;
    width: 100%;
    display: none;
  }

  &.active {
    .area-selector__list {
      display: block;
    }
  }

  &__current-name {
    // .gradient-main();
  }

  &__item {
    padding: 5px 10px;
    border: 1px solid #ffaf54;
    border-radius: 5px;
    .button-style();
  }
}
