:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: #e7e7e7;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
}
/* #map { position: absolute; top: 0; bottom: 0; width: 100%; } */

.shotdown {
  &__area-schedule {
    display: grid;
    grid-template-columns: repeat(24, 1fr); // Делим на 24 равные части
    column-gap: 1px; 
    width: 100%;
  
    padding: 1px;
    box-sizing: border-box;
    background-color: #ccc;
  }
  &__area-name{
    text-align: center;
    font-weight: bold;
  }

  &__column {
    display: grid;
    grid-template-rows: 1fr 1fr; // Две равные части по вертикали
    height: 120px;               // Фиксированная высота, чтобы ячейки раскрылись
    background-color: white;     // ОБЯЗАТЕЛЬНО: чтобы перекрыть серый фон сетки
    min-width: 0;
    row-gap: 1px; 
      background-color: #ccc; // Цвет "сетки"               // Защита от схлопывания в Grid
  }

  &__key {
    display: flex;
    align-items: center;
    justify-content: center;
    writing-mode: vertical-rl;
   // transform: rotate(180deg);   // Поворот, чтобы читалось снизу вверх
    white-space: nowrap;
    font-size: 10px;
    padding: 2px 0;
    background: white;
  }

  &__value {
    width: 100%;
    height: 100%; // Занимает всю отведенную нижнюю ячейку (1fr)

    &--work { background-color: yellow; }
    &--hide { background-color: red; }
    &--first {
      background: linear-gradient(to right, red 50%, yellow 50%);
    }
    &--second {
      background: linear-gradient(to left, red 50%, yellow 50%);
    }
  }
}